<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./src/BCC/EnumerableUtility/Tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="BCCEnumerableUtility test suite">
            <directory suffix="Test.php">./src/BCC/EnumerableUtility/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
        </whitelist>
    </filter>
</phpunit>
